
#define WIN32_LEAN_AND_MEAN
#include <windows.h>
#include "Resources.h"

RESOURCE_REPLACE(OP2SHRES.DLL, 137) DIALOG 0, 0, 124, 196
STYLE WS_POPUP | WS_CAPTION
CAPTION "MAIN MENU"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "&TUTORIALS",        1014, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17,   8, 90, 14
   CONTROL "&NEW CAMPAIGN",     1000, BUTTON, BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17,  28, 90, 14
   CONTROL "&COLONY GAMES",     1006, BUTTON, BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17,  48, 90, 14
   CONTROL "&MULTIPLAYER",      1005, BUTTON, BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17,  68, 90, 14
   CONTROL "&LOAD GAME",        1007, BUTTON, BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17,  88, 90, 14
   CONTROL "&GAME PREFERENCES", 1011, BUTTON, BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 108, 90, 14
   CONTROL "&HELP",             1012, BUTTON, BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 128, 90, 14
   CONTROL "&ABOUT OUTPOST 2",  1010, BUTTON, BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 148, 90, 14
   CONTROL "&QUIT",             1013, BUTTON, BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 168, 90, 14
   CONTROL "&DEBUG TEST...",    1033, BUTTON, BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 182, 90,  9
}
