
#define WIN32_LEAN_AND_MEAN
#include <windows.h>
#include "Resources.h"

RESOURCE_REPLACE(OUT2RES.DLL, 259) DIALOG 0, 0, 166, 124
STYLE DS_CENTER | WS_POPUP | WS_CAPTION
EXSTYLE WS_EX_WINDOWEDGE
CAPTION "PICK CONNECTION METHOD"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 8, "MS Sans Serif"
{
   CONTROL "S&IGS",              6, BUTTON, BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 153, 152, 14, 0x00000004
   CONTROL "&MODEM",             4, BUTTON, BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7,  34, 152, 14, 0x00000004
   CONTROL "IP&X",               5, BUTTON, BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7,  52, 152, 14, 0x00000004
   CONTROL "INTERNET (&TCP/IP)", 3, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7,   4, 152, 14, 0x00000004
   CONTROL "&SERIAL",            7, BUTTON, BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7,  70, 152, 14, 0x00000004
   CONTROL "&CANCEL",            2, BUTTON, BS_PUSHBUTTON    | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 103, 152, 14, 0x00000004
}
