
#pragma once

#include "../Resources.h"

// Dialog borders and title bar
RESOURCE_REPLACE(OP2SHRES.DLL, 201) BITMAP "UI/op2shres_201.bmp"  // Top corner
RESOURCE_REPLACE(OP2SHRES.DLL, 202) BITMAP "UI/op2shres_202.bmp"  // Top
RESOURCE_REPLACE(OP2SHRES.DLL, 203) BITMAP "UI/op2shres_203.bmp"  // Top corner
RESOURCE_REPLACE(OP2SHRES.DLL, 204) BITMAP "UI/op2shres_204.bmp"  // Side
RESOURCE_REPLACE(OP2SHRES.DLL, 205) BITMAP "UI/op2shres_205.bmp"  // Bottom corner
RESOURCE_REPLACE(OP2SHRES.DLL, 206) BITMAP "UI/op2shres_206.bmp"  // Bottom
RESOURCE_REPLACE(OP2SHRES.DLL, 207) BITMAP "UI/op2shres_207.bmp"  // Bottom corner
RESOURCE_REPLACE(OP2SHRES.DLL, 208) BITMAP "UI/op2shres_208.bmp"  // Side
RESOURCE_REPLACE(OP2SHRES.DLL, 209) BITMAP "UI/op2shres_209.bmp"  // Top corner
RESOURCE_REPLACE(OP2SHRES.DLL, 210) BITMAP "UI/op2shres_210.bmp"  // Top
RESOURCE_REPLACE(OP2SHRES.DLL, 211) BITMAP "UI/op2shres_211.bmp"  // Top corner
RESOURCE_REPLACE(OP2SHRES.DLL, 212) BITMAP "UI/op2shres_212.bmp"  // Side
RESOURCE_REPLACE(OP2SHRES.DLL, 213) BITMAP "UI/op2shres_213.bmp"  // Bottom corner
RESOURCE_REPLACE(OP2SHRES.DLL, 214) BITMAP "UI/op2shres_214.bmp"  // Bottom
RESOURCE_REPLACE(OP2SHRES.DLL, 215) BITMAP "UI/op2shres_215.bmp"  // Bottom corner
RESOURCE_REPLACE(OP2SHRES.DLL, 216) BITMAP "UI/op2shres_216.bmp"  // Side
RESOURCE_REPLACE(OP2SHRES.DLL, 217) BITMAP "UI/op2shres_217.bmp"  // Dialog title bar (active)
RESOURCE_REPLACE(OP2SHRES.DLL, 218) BITMAP "UI/op2shres_218.bmp"  // Dialog title bar (inactive)
RESOURCE_REPLACE(OP2SHRES.DLL, 226) BITMAP "UI/op2shres_226.bmp"  // Top corner
RESOURCE_REPLACE(OP2SHRES.DLL, 227) BITMAP "UI/op2shres_227.bmp"  // Top
RESOURCE_REPLACE(OP2SHRES.DLL, 228) BITMAP "UI/op2shres_228.bmp"  // Top corner
RESOURCE_REPLACE(OP2SHRES.DLL, 229) BITMAP "UI/op2shres_229.bmp"  // Side
RESOURCE_REPLACE(OP2SHRES.DLL, 230) BITMAP "UI/op2shres_230.bmp"  // Bottom corner
RESOURCE_REPLACE(OP2SHRES.DLL, 231) BITMAP "UI/op2shres_231.bmp"  // Bottom
RESOURCE_REPLACE(OP2SHRES.DLL, 232) BITMAP "UI/op2shres_232.bmp"  // Bottom corner
RESOURCE_REPLACE(OP2SHRES.DLL, 233) BITMAP "UI/op2shres_233.bmp"  // Side
RESOURCE_REPLACE(OP2SHRES.DLL, 251) BITMAP "UI/op2shres_251.bmp"  // Top corner
RESOURCE_REPLACE(OP2SHRES.DLL, 252) BITMAP "UI/op2shres_252.bmp"  // Top
RESOURCE_REPLACE(OP2SHRES.DLL, 253) BITMAP "UI/op2shres_253.bmp"  // Top corner
RESOURCE_REPLACE(OP2SHRES.DLL, 254) BITMAP "UI/op2shres_254.bmp"  // Side
RESOURCE_REPLACE(OP2SHRES.DLL, 255) BITMAP "UI/op2shres_255.bmp"  // Bottom corner
RESOURCE_REPLACE(OP2SHRES.DLL, 256) BITMAP "UI/op2shres_256.bmp"  // Bottom
RESOURCE_REPLACE(OP2SHRES.DLL, 257) BITMAP "UI/op2shres_257.bmp"  // Bottom corner
RESOURCE_REPLACE(OP2SHRES.DLL, 258) BITMAP "UI/op2shres_258.bmp"  // Side

// Other bitmaps: logo = 145, stars = 220, dialog background = 225, buttons = 235-236, radio = 242, checkbox = 299

// Fonts
RESOURCE_REPLACE(OP2SHRES.DLL, 701) RESOURCE_STRING("240,255,220,Open Sans,Bold,11,C")          // Heading (active)
RESOURCE_REPLACE(OP2SHRES.DLL, 702) RESOURCE_STRING("100,100,100,Open Sans,Bold,11,C")          // Heading (inactive)
RESOURCE_REPLACE(OP2SHRES.DLL, 704) RESOURCE_STRING("200,221,180,Roboto,Normal,9,L")            // Labels, static text
RESOURCE_REPLACE(OP2SHRES.DLL, 705) RESOURCE_STRING("221,255,160,Open Sans,Bold,9,L;60,60,60")  // Buttons
RESOURCE_REPLACE(OP2SHRES.DLL, 707) RESOURCE_STRING("200,221,180,Roboto,Normal,9,L")            // Listbox
RESOURCE_REPLACE(OP2SHRES.DLL, 709) RESOURCE_STRING("221,255,160,Roboto,Normal,9,L")            // Input/active element

// Element colors
RESOURCE_REPLACE(OP2SHRES.DLL, 710) RESOURCE_STRING("0,0,120")  // Text field/listbox/combobox inner border color
RESOURCE_REPLACE(OP2SHRES.DLL, 711) RESOURCE_STRING("0,0,30")   // Listbox background
